<!DOCTYPE html>
<meta charset="utf-8">
  <title>Damage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<link rel= "stylesheet" href="/style.css">

<script src="//d3js.org/d3.v4.0.0-alpha.9.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">D A M A G E</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Andon Board Monitoring</a></li>
    </ul>
  </div>
</nav>

<div class="columnPanel">
  <div class="col-sm-4"> 
      <div class="target-title section">
          <div class="sectionHeader"><h4>Target<h4></div>
          <div class="sectionContent"><h1><%= data.ggTarget %></h1></div>
          <div class="sectionFooter" id ="targetDate"></div>
      </div>
  </div>
    
  <div class="col-sm-4">
      <div class="target-title section">
          <div class="sectionHeader"><h4>Actual Outs<h4></div>
          <div class="sectionContent"><h1><%= data.ggOuts %></h1></div>
          <div class="sectionFooter" id ="outsDate"></div>
      </div>
  </div>
    
  <div class="col-sm-4">
    <div class="target-title section">
          <div class="sectionHeader"><h4>Variance<h4></div>
          <div class="sectionContent"><h1><%= data.variance %></h1></div>
          <div class="sectionFooter" id ="varDate"></div>
      </div>
  </div>
</div>

  <div class="col-sm-12">
    <div class="outscrapChart section"> 
      <svg class ="svgChart" width="1200" height="440"></svg>
      <script type ='text/javascript' src="/damage.js"></script>
    </div>
  </div>


<script>
    var today =  new Date();
    var MS_PER_MINUTE = 60000;
    var DELAYmin = 10;
    var todayMinus10min = new Date(today - (DELAYmin * MS_PER_MINUTE));
    document.getElementById("targetDate").innerHTML = today.toDateString() + ' ' + today.toLocaleTimeString();  
    document.getElementById("outsDate").innerHTML = today.toDateString() + ' ' + todayMinus10min.toLocaleTimeString();
    document.getElementById("varDate").innerHTML = today.toDateString() + ' ' + today.toLocaleTimeString();  
</script>