<!DOCTYPE html>
<meta charset="utf-8">
<body>
<link rel= "stylesheet" href="/style.css">

<script src="//d3js.org/d3.v4.0.0-alpha.9.min.js"></script>

  <div class="row">
    <div class="wrap"> 
      <%= data.ggTarget %>
    </div>
    <div class="wrap">
      <%= data.ggOuts %>
    </div>
    <div class="wrap">
      
      <%= data.variance %>
    
    </div>
  </div>

  <div class="row">
    <div class="wrap">Target</div>
    <div class="wrap">Outs</div>
    <div class="wrap">Variance</div>
  </div>




  <div class="outscrapChart"> 
      <svg class ="svgChart" width="1200" height="550"></svg>
      <script type ='text/javascript' src="/damage.js"></script>
  </div>


<script type = 'text/javascript'>
var theUrl = '/hourly/damage';
  function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}
</script>