<!DOCTYPE html>
<meta charset="utf-8">
<body>
<link rel= "stylesheet" href="/style.css">

<script src="//d3js.org/d3.v4.0.0-alpha.9.min.js"></script>

<h1><%= processOuts %></h1>



<div class="outscrapChart"> 
    <svg class ="svgChart" width="1280" height="500"></svg>
    <script type ='text/javascript' src="/ntm.js"></script>
</div>

<!--<div class="hourlyScraps">
  <script type ='text/javascript' src="/damage_scraps.js"></script>
</div>